
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin: 10px;
  text-align: center;
  border: pink solid 1px;
  border-radius: 0%;
}

.card-header {
  font-weight: bold;
}

.card-footer {
  font-weight: bold;
}

.img-thumbnail {
  width: 75%;
  align-self: center;
  justify-self: center;
}

.color-type-dog {
  background-color: greenyellow;
  color: green !important;
}

.color-type-cat {
  background-color: lightskyblue;
  color: blue !important;
}

.color-type-dino {
  background-color: gold;
  color: darkgoldenrod !important;
}

.btn-group {
  margin: 20px;
}
