
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  margin: 10px;
  text-align: center;
}

.card-header {
  font-weight: bold;
}

.card-footer {
  font-weight: bold;
}

.color-type-dog {
  background-color: greenyellow;
  color: green !important;
}

.color-type-cat {
  background-color: lightskyblue;
  color: darkblue !important;
}

.color-type-dino {
  background-color: gold;
  color: darkgoldenrod !important;
}
